<%= render 'layouts/header' %>
<%= render 'menu' %>
<div class="container">
	<div class="row row-cols-1 row-cols-md-3 g-3 py-3">
		<% cache @articles do %>
      <% @articles.each do |article| %>
        <% cache article do %>
          <a href="<%= article_path(article) %>" target="_self" class=" text-decoration-none text-dark">
            <div class="col">
              <div class="card shadow-lg border-0 p-2">
                <!-- <img src="img/bloglogo.png" class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title"><%= article.title %></h5>
                  <p class="card-text text-muted"><%= truncate(article.content) %></p>
                </div>
                <div class=" d-flex text-center justify-content-between p-2">
                  <div class="">
                    <%= image_tag article.user.avatar || "avatar", style: "width: 50px;height: 50px;border-radius: 50%;" %>&nbsp;
										<span class="fs-5"><%= article.user.nickname || 'NICKNAME' %></span>

                  </div>
                  <div class="nav align-items-center">
                      <%= image_tag "view.png", width: "20" %>
                      <span class="fs-6 text-muted">&nbsp; <%= article.view || "1" %></span>
                  </div>
              </div>
              </div>
            </div>
          </a>
        <% end %>
      <% end %>

    <% end %>
	</div>
</div>
<div class="container">
	<div class="row pt-5">
			<%= paginate @articles, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center", nav_class: "d-inline-block" %>
	</div>
</div>
<!-- container end -->

<button type="button" class="btn btn-lg btn-primary position-fixed bottom-0 end-0 m-4 shadow-lg border-0" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
  <a href="<%= new_article_url %>" class="text-light text-decoration-none">写博客</a>
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form>
					  <div class="modal-header">
					    <!-- <h5 class="modal-title" id="exampleModalLabel">New message</h5> -->
					    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> &nbsp;&nbsp;
					    <button type="submit" class="btn-open bg-light border-0" data-bs-dismiss="modal" aria-label="open"> 提交</button>
					  </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"><h3>标题</h3></label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label"><h3>正文</h3></label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send message</button>
      </div> -->
    </div>
  </div>
</div>
