<%= render 'layouts/header' %>
<div class="login">
  <div class="container">
    <div class="nav align-items-center text-center flex-column justify-content-center">
      <div class="col-sm-6 col-lg-4">
          <%= notice %>
        <!-- <form action="" method="post" class="form form-control border-0 pt-5 pb-4 px-4 shadow-sm" style="border-radius: 1em;"> -->
          <%= form_with(action: login_path, class: "form form-control border-0 pt-5 pb-4 px-4 shadow-sm") do |f| %>

          <div class="input-group mb-3">
            <span class="input-group-text border-0">+86</span>
            <!-- <input type="text" class="form-control form-control-lg phone login-input border-0" placeholder="13800000000" aria-label="phone" aria-describedby="basic-addon1"> -->
            <%= f.text_field :phone_number, class: "form-control form-control-lg phone login-input border-0", placeholder: "13800000000",required: 'required' %>
          </div>

          <div class="input-group mb-3">
            <%= f.password_field :password, class: "form-control form-control-lg code login-input border-0", placeholder: "******",required: 'required' %>
          </div>

          <div class="input-group mb-3">
            <%= f.submit "登录",class: "btn btn-lg btn-primary form-control shadow" %>
          </div>

          <div class="input-group mb-3 d-grid gap-2">
            <!-- <a href="" class="btn btn-lg btn-outline-primary">注册</a> -->
            <%= link_to '注册', sign_up_path, class: "btn btn-lg btn-outline-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
